    $PRIMARY: "#1dd3d5";
    $GRAY: "#ccc";
    $ALPHA_PRIMARY: "#1dd3d51f";
    $BG_COLOR_GRAY: "#F5F6F8";
    $TEXT_PRIMARY: "#515C6F";
    $TITLE: "#292D32";
    $GREEN: "#51DA71";

    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;500;700;800&family=Tajawal:wght@300;400;500;700;800&display=swap');
    body {
      font-family: 'M PLUS 1p', sans-serif;
      font-family: 'Tajawal', sans-serif;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.title{
    font-size: 3em;
  }
  .info{
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 1.5em;
    color: rgb(224, 224, 224);
  }
  .btn{
    margin: 0 auto;
    border: none;
    outline: none;
    padding: .75em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgb(134, 49, 0);
    color: #fff;
  }
  
  .sidebar{
    width: 260px;
    flex-shrink: 0;
    background-color: rgba(22, 22, 22, 1);
    height: 100%;
    overflow: auto;
  }
  
  
  .sidebar-item {
    padding: 6px 20px;
    display: block;
    color: #383838;
    transition: all 0.1s ease;
    position: relative;
    z-index: 222;
    transition: all 0.3s ease;
    width: fit-content;
    font-size: 15px;
  }

  .hover:hover{
    color: black !important;
    transition: all 0.3s ease;
    background-color: #dddddd1c;
  }
  
  .sidebar-title{
    color: black;
    display: flex;
    font-size: 1.1em;
    justify-content: space-between;
  }
  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
    font-size: 16px;
    line-height: 32px;
    margin: 0 10px;
    display: flex;
    align-items: center;
  }
  .sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg) !important;
  }
  .sidebar-item.open-first > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
    .child-item {
      display: block;
    }
  }
  .sidebar-item.open > .sidebar-content{
    height: auto !important;
  }
  .sidebar-item.open-first > .sidebar-content{
    height: auto;
  }
  
  .sidebar-item.plain{
    color: $TITLE;
    text-decoration: none;
  }
  .sidebar-item.plain:hover{
    text-decoration: underline;
  }
  .sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
  }

  .google-map {
    height: 100%;
    h3 {
      text-align: center;
      margin-bottom: 8px;
      position: absolute;
      z-index: 44;
      left: 50%;
      transform: translateX(-50%);
      top: -43px;
      background-color: white;
      padding: 5px 27px;
      border-radius: 4px;
    }
    h2 {
      color: #fff;
      font-size: 17px;
    }
    input {
      position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 37%;
    padding: 8px 9px;
    border: 1px solid #ddd;
    border-radius: 3px;
 
    }
    div {
      .close-icon {
        position: absolute;
        top: -34px;
        right: 0px;
        font-size: 27px;
        opacity: 0.8;
        cursor: pointer;
      }
      .locate-me {
        position: absolute;
        right: 92px;
        bottom: 26px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 5px;
      }
    }
  }

  .default-layout {
    position: relative;
    .layout {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #0000007a;
      z-index: 9;
    }
  }